# controllers.yaml
# ros2_control 控制器配置文件

controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    forward_position_controller:
      type: forward_command_controller/ForwardCommandController

joint_state_broadcaster:
  ros__parameters:
    state_publish_rate: 50.0

forward_position_controller:
  ros__parameters:
    joints:
      - joint1
    interface_name: position
